<h1>New column</h1>

<% form_for([@table, @column]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
	<p>
		<%= f.label :column_type %><br />
		<%= f.text_field :column_type %>
	</p>
	<p>
		<%= f.label :null %><br />
		<%= f.check_box :null %>
	</p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', table_columns_path(@table) %>
