<h1>Editing table</h1>

<% form_for([@database, @table]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', database_table_path(@database, @table) %> |
<%= link_to 'Back', database_tables_path(@database) %>
